* { margin: 0; padding: 0;}

body, html { height:100%; }

.game-field {
	//height: 100%;
	//width: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

canvas {
	background: #dddddd;
    position:absolute;
    width:100%;
    height:100%;
}
